{% extends 'node_modules/gsk-popsugar-core/components/layout.njk' %}
{% import 'node_modules/gsk-popsugar-core/components/socialShare/socialShare.njk' as socialShare with context %}
{% import 'node_modules/gsk-popsugar-core/components/relatedArticle/relatedArticle.njk' as article with context %}

{% set canonical = "{{originalUrl}}amp/tips-preventing-enamel-loss.html" %}
{% set title = "6 Simple Tips For Preventing Enamel Loss" %}
{% set description = "Sport healthy teeth today, tomorrow, and for years to come with these tips to keep your enamel in tip-top shape!" %}
{% set thumbnail = "img/tips-preventing-enamel-loss/pronamel-simple-tips-for-preventing-enamel-loss-mobile.jpg" %}
{% set thumbnailWidth = "480" %}
{% set thumbnailHeight = "270" %}

{% block content %}
  <main class="container" id="page-content">

    <article>

      <header class="article-header">

        <h1>6 Simple Tips For Preventing Enamel Loss</h1>

        {{ socialShare.socialShare("https://pronamel.com/amp/tips-preventing-enamel-loss.html", "6 Simple Tips For Preventing Enamel Loss") }}

        <amp-img src="img/tips-preventing-enamel-loss/pronamel-simple-tips-for-preventing-enamel-loss-main.jpg"
             alt="6 Simple Tips For Preventing Enamel Loss"
             width="920"
             height="518"
             layout="responsive"
             role="main"
             srcset="img/tips-preventing-enamel-loss/pronamel-simple-tips-for-preventing-enamel-loss-main.jpg 920w,
                     img/tips-preventing-enamel-loss/pronamel-simple-tips-for-preventing-enamel-loss-mobile.jpg 480w"
             >
        </amp-img>

        <a href="{{originalUrl}}healthy-living/healthy-strong-teeth/" class="back-link">&lt; Back to the article list</a>

      </header>


    <h2>Sport healthy teeth today, tomorrow, and for years to come with these tips to keep your enamel in tip-top shape!</h2>

    Confidence can all start with a healthy smile, and a healthy smile comes down to strong enamel. Unfortunately, once you lose enamel on your teeth, it’s gone . . . so you have to do everything you can to protect it! Dr. Nehi Ogbevoen, DDS, MS, dentist at <a href="http://www.beverlyhillsortho.com/team/nehi-ogbevoen">Beverly Hills Orthodontics</a>, shared top dentist tips for keeping your big, happy smile healthy and strong.

    <h2> How to Prevent Enamel Loss </h2>

    <h3>1. Watch the Acid!</h3>
    <p> “Limit the amount of acidic foods and drinks,” said Dr. Ogbevoen. “Although enamel is the hardest substance in the body, it can be broken down by acids from these sources.” The biggest offenders in this category are actually very common beverages. “Drinks such as sports drinks, sodas, and sparkling waters tend to get people in the most trouble.” Another tactic when it comes to these? A straw! “Using a straw when drinking acidic beverages such as flavored seltzer or sports drinks minimizes the contact with the teeth.”</p>

    <h3>2. Cut Back on Sugar.</h3>
    <p>If you needed another reason to start reducing your sugar intake, here’s one from Dr. Ogbevoen. “Sorry! But the bacteria in our mouths break down these sugars [from candies and sweet foods] and produce acids during the process.” This in turn breaks down enamel and, over time, can permanently damage your teeth.</p>

    <h3>3. Brush and Rinse Promptly.</h3>
    <p>Can’t break away from wine and sugar? Here’s your dentist-approved game plan. “After eating acidic or sweet foods, rinse with water,” said Dr. Ogbevoen. “Then try to brush [within] an hour after consumption.”</p>

    <h3>4. Soften Your Brushing.</h3>
    <p>“The softer, the better,” said Dr. Ogbevoen. “Avoid physical trauma to the enamel by brushing too hard. Brushing too hard can cause abrasion to the enamel.” You don’t have to vigorously scrub your teeth to get them clean! “A toothbrush with soft bristles is recommended by dental healthcare providers.”</p>

    <h3>5. Reduce Stress.</h3>
    <p>Headaches, digestive distress, compromised immunity, and . . . yep! Enamel loss. Stress can actually contribute to declining dental health. “Another source of trauma to the enamel can occur from grinding,” said Dr. Ogbevoen. “Approximately <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5070759/">eight percent of all adults</a> grind their teeth, and stress is a major contributor to nocturnal grinding. If you suspect that you may be grinding from stress, ask your dentist if a night guard would be appropriate.”</p>

    <h3>6. Strengthen and Remineralize With Toothpaste.</h3>
    <p>“The best defense is a strong offense!” said Dr. Ogbevoen. “Help strengthen and remineralize your enamel with your daily oral hygiene routine. Using a toothpaste and mouth rinse that have fluoride — plus flossing daily — will keep your pearly whites as strong as possible.” Did you know that <a href="https://www.pronamel.us/">Pronamel</a> is the No. 1 dentist-recommended brand for strengthening and protecting enamel? It helps to rebuild enamel strength and can protect against that acid erosion Dr. Ogbevoen mentioned, leaving you with a “strong offense” and even stronger, healthier teeth.</p>

    </article>

    <aside id="related-articles">
      <h2>Related articles</h2>
      <div>
        {{ article.relatedArticle("img/tips-preventing-enamel-loss/related-article_holiday-beauty-tips.jpg",
        "Holiday Beauty Tips That Will Help You Sparkle",
        "https://www.pronamel.us/amp/holiday-beauty-tips.html" )}}
        {{ article.relatedArticle("img/tips-preventing-enamel-loss/related-article_healthy-choices-80-year-old-self-wants.jpg",
        "6 Healthy Choices Your 80 Year Old Self Wants You to Make",
        "https://www.pronamel.us/amp/healthy-choices-to-make-right-now.html" )}}
        {{ article.relatedArticle("img/tips-preventing-enamel-loss/related-article_one-thing-before-brushing.jpg",
        "Most People Don’t Do This One Thing Before Brushing — Here’s Why You Should",
        "https://www.pronamel.us/amp/one-thing-before-brushing.html" )}}
      </div>
    </aside>

  </main>
{% endblock %}
